/*
##################################################
 This is the style page for the searchDoctorPatient form.
##################################################
 YearMonthDayCreated: 2020-11-09
 Project: Open Source Engine Integration
 Program Name: searchDoctorPatient.css
 Author: Bao Mai, Derek Manchee, Aubrey Nickerson, Joseph Egely, Keaton Canuel
 Copyright: Copyright 2021
 Credits: Bao Mai, Derek Manchee, Aubrey Nickerson, Joseph Egely, Keaton Canuel, Youry Khmelevsky, Benson Ho
 License: MIT License
 Version: 1.2
 Maintainer: Okanagan College Team
 Status: Working
 Revision History:
 Date (YYYY/MM/DD)         Author             Revision      What was changed?
 2020/11/09                Aubrey Nickerson   1             Set up style
 2021/03/21                Bao Mai            2             Display list view
##################################################
MIT License
Copyright 2021 Okanagan College & Harris Healthcare

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and
associated documentation files (the "Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR
IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

End license text.
##################################################
*/



html {
    line-height: 1.15;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
/* Sections
 ========================================================================== */
/**
* Remove the margin in all browsers (opinionated).
*/
.header{
    height: 30px;
    padding: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 10px 0;
    background-color: #D8D8D8;
}

body {
    background: #D8D8D8;
}
.fas{
    background-color: #048468;
    color: white;
    font-size: 24px;
    padding: 8px;
    margin-right: 10px;
    border-radius: 6px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#searchinput {

    background: #fff;
    padding: 15px 80px 15px 15px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 16px;
}

div.patientList
{
}

div.list-item
{

    margin: 25px 0px;
    /*height: 500px;*/

}

div.list-item div.item-detail
{

    background: #fff;
    width: 240px;
    height: 100px;
    display: flex;
    align-items:center;
    border-radius: 6px;
    box-shadow: 0 25px 45px -10px rgba(0,0,0,0.3);

}
table{
    margin: 20px;
}

.patientName{
    font-weight: bold;
}
.PatID{
    font-size:13px;
}
.info{
    font-size:14px;
}
.lds-dual-ring.hidden {
    display: none;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 50% auto;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.8);
    z-index: 999;
    opacity: 1;
    transition: all 0.5s;
}